In [2]:
import pandas as pd
import numpy as np

#### reading in csv's as DataFrames

In [3]:
answers_df = pd.read_csv('./Datasets/answers.csv')
answer_score_df = pd.read_csv('./Datasets/answer_scores.csv')
coms_df = pd.read_csv('./Datasets/comments.csv')
emails_df = pd.read_csv('./Datasets/emails.csv')
group_mem_df = pd.read_csv('./Datasets/group_memberships.csv')
groups_df = pd.read_csv('./Datasets/groups.csv')
matches_df = pd.read_csv('./Datasets/matches.csv')
pros_df = pd.read_csv('./Datasets/professionals.csv')
q_score_df = pd.read_csv('./Datasets/question_scores.csv')
ques_df = pd.read_csv('./Datasets/questions.csv')
school_mem_df = pd.read_csv('./Datasets/school_memberships.csv')
students_df = pd.read_csv('./Datasets/students.csv')
tag_q_df = pd.read_csv('./Datasets/tag_questions.csv')
tags_df = pd.read_csv('./Datasets/tags.csv')
tag_users_df = pd.read_csv('./Datasets/tag_users.csv')

## Answers df

In [4]:
answers_df.head()

,answers_id,answers_author_id,answers_question_id,answers_date_added,answers_body
0,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,332a511f1569444485cf7a7a556a5e54,2016-04-29 19:40:14 UTC+0000,<p>Hi!</p>\n<p>You are asking a very interesti...
1,ada720538c014e9b8a6dceed09385ee3,2aa47af241bf42a4b874c453f0381bd4,eb80205482e4424cad8f16bc25aa2d9c,2018-05-01 14:19:08 UTC+0000,<p>Hi. I joined the Army after I attended coll...
2,eaa66ef919bc408ab5296237440e323f,cbd8f30613a849bf918aed5c010340be,eb80205482e4424cad8f16bc25aa2d9c,2018-05-02 02:41:02 UTC+0000,"<p>Dear Priyanka,</p><p>Greetings! I have answ..."
3,1a6b3749d391486c9e371fbd1e605014,7e72a630c303442ba92ff00e8ea451df,4ec31632938a40b98909416bdd0decff,2017-05-10 19:00:47 UTC+0000,<p>I work for a global company who values high...
4,5229c514000446d582050f89ebd4e184,17802d94699140b0a0d2995f30c034c6,2f6a9a99d9b24e5baa50d40d0ba50a75,2017-10-13 22:07:33 UTC+0000,I agree with Denise. Every single job I've had...

In [5]:
answers_df.shape

(51123, 5)

## Answer Scores DF

In [7]:
answer_score_df.head()

                                 id  score
0  7b2bb0fc0d384e298cffa6afde9cf6ab      1
1  7640a6e5d5224c8681cc58de860858f4      5
2  3ce32e236fa9435183b2180fb213375c      2
3  fa30fe4c016043e382c441a7ef743bfb      0
4  71229eb293314c8a9e545057ecc32c93      2

In [20]:
answer_scores.shape

(51138, 2)

In [8]:
answer_score_df['score'].unique()

array([ 1,  5,  2,  0,  3,  8,  9,  4,  7, 10, 30, 14,  6, 22, 12, 11, 19,
       13, 20, 17, 18, 25, 15])