In [2]:
import pandas as pd

# Merging DataFrames Notebook

For the career village recommender system, we were given 15 csv's to work with. To make future processing easier and to find significant relationships, we're merging relevant DataFrames together. This notebook is specifically dedicated to merging DataFrames.

### <span style = 'color:red'> Explain why we choose the csv's we choose, also include an image (slide pic)

In [3]:
# Answers
answers_df = pd.read_csv('./Datasets/answers.csv')
answer_score_df = pd.read_csv('./Datasets/answer_scores.csv')

# Questions
q_score_df = pd.read_csv('./Datasets/question_scores.csv')
ques_df = pd.read_csv('./Datasets/questions.csv')

# Tags
tag_q_df = pd.read_csv('./Datasets/tag_questions.csv')
tags_df = pd.read_csv('./Datasets/tags.csv')
tag_users_df = pd.read_csv('./Datasets/tag_users.csv')

# Others
coms_df = pd.read_csv('./Datasets/comments.csv')
emails_df = pd.read_csv('./Datasets/emails.csv')
group_mem_df = pd.read_csv('./Datasets/group_memberships.csv')
groups_df = pd.read_csv('./Datasets/groups.csv')
pros_df = pd.read_csv('./Datasets/professionals.csv')
school_mem_df = pd.read_csv('./Datasets/school_memberships.csv')
students_df = pd.read_csv('./Datasets/students.csv')

### POTENIALLY USE?? 
matches_df = pd.read_csv('./Datasets/matches.csv')

In [15]:
merged_df = pd.read_csv('./Datasets/merged_df.csv')

In [17]:
merged_df.head(2)

,questions_id,questions_author_id,questions_date_added,questions_title,questions_body,questions_score,tag_id,tag_name,answers_id,answers_author_id,answers_date_added,answers_body,answers_score
0,332a511f1569444485cf7a7a556a5e54,8f6f374ffd834d258ab69d376dd998f5,2016-04-26 11:14:26 UTC+0000,Teacher career question,What is a maths teacher? what is a ma...,1.0,14147.0,lecture,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,2016-04-29 19:40:14 UTC+0000,<p>Hi!</p>\n<p>You are asking a very interesti...,0.0
1,332a511f1569444485cf7a7a556a5e54,8f6f374ffd834d258ab69d376dd998f5,2016-04-26 11:14:26 UTC+0000,Teacher career question,What is a maths teacher? what is a ma...,1.0,27490.0,college,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,2016-04-29 19:40:14 UTC+0000,<p>Hi!</p>\n<p>You are asking a very interesti...,0.0

In [20]:
prof_df = merged_df.rename(columns = {'questions_author_id': 'professsionals_id'})

#### Exporting as merged csv:

In [22]:
prof_df.to_csv("./Datasets/prof_merged_df.csv", index=False)

In [23]:
merged_df.shape

(180376, 13)